<suite name="WebAutomationSuite" verbose="1" parallel="false">
    <listeners>
        <listener class-name="com.assignment.utils.TestListener"/>
    </listeners>
    <listeners>
        <listener class-name="com.assignment.utils.ScreenshotListener"/>
    </listeners>

    <test name="SauceDemo Tests">
        <packages>
            <package name="com.assignment.tests"/>
        </packages>
    </test>
</suite>
